<div class="container">
  <div class="content-actual">
    <div class="headerText">
      <p class="lead" style="font-size: 45px;">
        Testimonials from our Customers
      </p>
    </div>
    <div class="jumbotron">
      <h1 class="lead" style="font-size: 35px; margin-bottom: 20px;">
        <em>Ms. Michelle Lee, USPTO</em> says:
      </h1>
      <p class="lead" style="font-weight: 350;">
        "The USPTO strongly supports WIPO Match, a powerful platform that can
        match available resources with IP infrastructure needs across regional
        markets. This tool has the potential to advance our common effort to
        bring in willing partners from all sectors and build the IP
        infrastructure globally."
      </p>
      <hr class="my-4" />
      <p>
        WIPO Match is not only a platform for technical assistance projects, but
        also one which can bring new opportunities for integrated IP and
        innovation projects. It is free, simple, reliable and global.
      </p>
      <a
        type="button"
        class="btn btn-lg btn-outline-primary shadow-none"
        href="https://www3.wipo.int/match/assets/images/WIPO%20MATCH-SUCCESS%20STORIES-2410.pdf"
        target="_blank"
        rel="noopener noreferrer"
        >View successful matches</a
      >
    </div>
  </div>
</div>
