<div class="container">
  <div class="content-actual">
    <div class="headerText">
      <p class="lead" style="font-size: 45px;">Our Featured Stories</p>
    </div>
    <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li
          data-target="#carouselCaptions"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselCaptions" data-slide-to="1"></li>
        <li data-target="#carouselCaptions" data-slide-to="2"></li>
        <li data-target="#carouselCaptions" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
            <div class="carousel-image-container portrait">
              <img src="{{ carouselImageUrl1 }}" class="d-block w-100" />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <p>
                <span
                  style="
                    background: rgba(1, 1, 1, 0.7);
                    padding: 5px;
                    border-radius: 3px 3px;
                    font-size: 25px;
                    font-weight: 650;
                  "
                >
                  Why use WIPO Match?
                </span>
              </p>
              <p
                style="
                  background: rgba(1, 1, 1, 0.7);
                  padding: 5px;
                  border-radius: 3px 3px;
                "
              >
                WIPO Match is not only a platform for technical assistance
                projects, but also one which can bring new opportunities for
                integrated IP and innovation projects, such as private-public
                partnerships, south-south cooperation and triangular projects.
              </p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
            <div class="carousel-image-container portrait">
              <img src="{{ carouselImageUrl2 }}" class="d-block w-100" />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <p>
                <span
                  style="
                    background: rgba(1, 1, 1, 0.7);
                    padding: 5px;
                    border-radius: 3px 3px;
                    font-size: 25px;
                    font-weight: 650;
                  "
                >
                  What is a successful match?
                </span>
              </p>
              <p
                style="
                  background: rgba(1, 1, 1, 0.7);
                  padding: 5px;
                  border-radius: 3px 3px;
                "
              >
                A successful match occurs when parties freely enter into a
                connection or when they demonstrate a mutual willingness to
                collaborate on agreed tailor-made terms.
              </p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
            <div class="carousel-image-container portrait">
              <img src="{{ carouselImageUrl3 }}" class="d-block w-100" />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <p>
                <span
                  style="
                    background: rgba(1, 1, 1, 0.7);
                    padding: 5px;
                    border-radius: 3px 3px;
                    font-size: 25px;
                    font-weight: 650;
                  "
                >
                  How do I upload my own offers or needs?
                </span>
              </p>
              <p
                style="
                  background: rgba(1, 1, 1, 0.7);
                  padding: 5px;
                  border-radius: 3px 3px;
                "
              >
                In order to upload your own offers or needs, you first need to
                create a WIPO Account. Once your WIPO Account is set up, access
                the WIPO Match database, from where you can sign in.
              </p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
            <div class="carousel-image-container portrait">
              <img src="{{ carouselImageUrl4 }}" class="d-block w-100" />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <p>
                <span
                  style="
                    background: rgba(1, 1, 1, 0.7);
                    padding: 5px;
                    border-radius: 3px 3px;
                    font-size: 25px;
                    font-weight: 650;
                  "
                >
                  What exactly does WIPO Match aim to do?
                </span>
              </p>
              <p
                style="
                  background: rgba(1, 1, 1, 0.7);
                  padding: 5px;
                  border-radius: 3px 3px;
                "
              >
                WIPO Match is a global stakeholders community which aims at
                harnessing the industry and private sector's power to promote
                economic, social and cultural development in developing
                countries, LDCs, as well as countries in transition.
              </p>
            </div>
          </a>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselCaptions"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselCaptions"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
