a {
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.card:hover svg,
.card:hover span.text-darkblue {
  fill: darkblue;
  transition: 0.4s;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: royalblue;
  /* box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5); */
  margin-top: 70px;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: darkblue;
  margin-top: 70px;
}
